.eventCard {
  display: flex;
  width: 50%;
  height: 190px;
  position: relative;
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  overflow: hidden;
}

.eventCard-right {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-inline: 20px;
}

.eventCard-right-info {
  flex: 1;
}

.eventCard-right-info div {
  display: flex;
  flex-direction: column;
}

.label {
}
.event-values {
  font-size: 24px;
  font-weight: 600;
}

.eventCard-buttonContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event-img {
  height: -webkit-fill-available;
}

.ant-btn {
  margin-block: 10px;
}
