@import './styles/components/eventcard.css';
@import './styles/components/antd.css';
@import './styles/components/eventCalendar.css';
@import './styles/components/navbar.css';

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-jcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
