@import './styles/components/eventcard.css';
@import './styles/components/antd.css';
@import './styles/components/eventCalendar.css';
@import './styles/components/navbar.css';
@import './styles/components/eventModal.css';
@import './styles/components/userProfile.css';
@import './styles//components/event.css';

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-jcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marker {
  width: 0;
  height: 0;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #fff;
  background: #4d2d73;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg);
}

.temporary-marker span {
  background: #d3d3d3;
}
.App {
  min-width: 600px;
}
